In [73]:
from datetime import date, timedelta
import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style = 'whitegrid', color_codes = True)
%matplotlib inline

In [74]:
train = pd.read_csv(
    '../test/outbreaks.csv')

In [75]:
train.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [76]:
train.isnull().sum()

Year                     0
Month                    0
State                    0
Location              2166
Food                  8963
Ingredient           17243
Species               6619
Serotype/Genotype    15212
Status                6619
Illnesses                0
Hospitalizations      3625
Fatalities            3601
dtype: int64

In [77]:
train.columns

Index(['Year', 'Month', 'State', 'Location', 'Food', 'Ingredient', 'Species',
       'Serotype/Genotype', 'Status', 'Illnesses', 'Hospitalizations',
       'Fatalities'],
      dtype='object')

In [78]:
train.corr()

                      Year  Illnesses  Hospitalizations  Fatalities
Year              1.000000  -0.018043          0.017849    0.002543
Illnesses        -0.018043   1.000000          0.450739    0.099750
Hospitalizations  0.017849   0.450739          1.000000    0.423716
Fatalities        0.002543   0.099750          0.423716    1.000000

In [79]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19119 entries, 0 to 19118
Data columns (total 12 columns):
Year                 19119 non-null int64
Month                19119 non-null object
State                19119 non-null object
Location             16953 non-null object
Food                 10156 non-null object
Ingredient           1876 non-null object
Species              12500 non-null object
Serotype/Genotype    3907 non-null object
Status               12500 non-null object
Illnesses            19119 non-null int64
Hospitalizations     15494 non-null float64
Fatalities           15518 non-null float64
dtypes: float64(2), int64(2), object(8)
memory usage: 1.8+ MB

In [80]:
train['Location'].fillna(train['Location'].mode()[0], inplace = True)

In [81]:
train['Species'].fillna(train['Species'].mode()[0], inplace = True)

In [82]:
train['Status'].fillna(train['Status'].mode()[0], inplace = True)

In [83]:
train['Hospitalizations'].fillna(train['Hospitalizations'].mean(), inplace = True)

In [84]:
train['Fatalities'].fillna(train['Fatalities'].mean(), inplace = True)

In [85]:
train['Hospitalizations'] = train['Hospitalizations'].apply(np.ceil)

In [86]:
train['Fatalities'] = train['Fatalities'].apply(np.ceil)