In [98]:
from datetime import date, timedelta
import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style = 'whitegrid', color_codes = True)
%matplotlib inline

In [99]:
#pip install xlrd

In [100]:
train =pd.read_excel("../test/healthcare-dataset-stroke-data.xls")

In [101]:
train.head(20)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
6,53882,Male,74.0,1,1,Yes,Private,Rural,70.09,27.4,never smoked,1
7,10434,Female,69.0,0,0,No,Private,Urban,94.39,22.8,never smoked,1
8,27419,Female,59.0,0,0,Yes,Private,Rural,76.15,NaN,Unknown,1
9,60491,Female,78.0,0,0,Yes,Private,Urban,58.57,24.2,Unknown,1
10,12109,Female,81.0,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
11,12095,Female,61.0,0,1,Yes,Govt_job,Rural,120.46,36.8,smokes,1
12,12175,Female,54.0,0,0,Yes,Private,Urban,104.51,27.3,smokes,1
13,8213,Male,78.0,0,1,Yes,Private,Urban,219.84,NaN,Unknown,1
14,5317,Female,79.0,0,1,Yes,Private,Urban,214.09,28.2,never smoked,1
15,58202,Female,50.0,1,0,Yes,Self-employed,Rural,167.41,30.9,never smoked,1
16,56112,Male,64.0,0,1,Yes,Private,Urban,191.61,37.5,smokes,1
17,34120,Male,75.0,1,0,Yes,Private,Urban,221.29,25.8,smokes,1
18,27458,Female,60.0,0,0,No,Private,Urban,89.22,37.8,never smoked,1
19,25226,Male,57.0,0,1,No,Govt_job,Urban,217.08,NaN,Unknown,1

In [102]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
id                   5110 non-null int64
gender               5110 non-null object
age                  5110 non-null float64
hypertension         5110 non-null int64
heart_disease        5110 non-null int64
ever_married         5110 non-null object
work_type            5110 non-null object
Residence_type       5110 non-null object
avg_glucose_level    5110 non-null float64
bmi                  4909 non-null float64
smoking_status       5110 non-null object
stroke               5110 non-null int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [103]:
train.shape

(5110, 12)

In [104]:
train.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [105]:
train['stroke'].value_counts(normalize=True, dropna=False)

0    0.951272
1    0.048728
Name: stroke, dtype: float64

In [106]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [107]:
train['bmi'].value_counts(normalize=True, dropna=False)

NaN     0.039335
28.7    0.008023
28.4    0.007436
27.6    0.007241
26.7    0.007241
          ...
40.6    0.000196
52.3    0.000196
54.2    0.000196
49.4    0.000196
47.1    0.000196
Name: bmi, Length: 419, dtype: float64

In [109]:
train['stroke'] = train['stroke'].map(
                   {1:'Yes' ,0:'No'})
train['hypertension'] = train['hypertension'].map(
                   {1:'Yes' ,0:'No'})
train['heart_disease'] = train['heart_disease'].map(
                   {1:'Yes' ,0:'No'})

In [110]:
train.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,No,Yes,Yes,Private,Urban,228.69,36.6,formerly smoked,Yes
1,51676,Female,61.0,No,No,Yes,Self-employed,Rural,202.21,NaN,never smoked,Yes
2,31112,Male,80.0,No,Yes,Yes,Private,Rural,105.92,32.5,never smoked,Yes
3,60182,Female,49.0,No,No,Yes,Private,Urban,171.23,34.4,smokes,Yes
4,1665,Female,79.0,Yes,No,Yes,Self-employed,Rural,174.12,24.0,never smoked,Yes

In [111]:
train.groupby('age', as_index=False)['bmi'].mean()

       age        bmi
0     0.08  15.500000
1     0.16  14.766667
2     0.24  17.400000
3     0.32  18.080000
4     0.40  15.850000
..     ...        ...
99   78.00  27.929032
100  79.00  27.862338
101  80.00  28.783582
102  81.00  27.951667
103  82.00  28.029091

[104 rows x 2 columns]

In [112]:
train['age'] = train['age'].apply(lambda x : round(x))

In [115]:
category = pd.cut(train.age,bins=[0,20,39,59,79,99],labels=['<20','20-39','40-59','60-79','80+'])
train.insert(6,'Age Group',category)

In [118]:
category = pd.cut(train.bmi,bins=[0,18.5,24.9,29.9,97.6],labels=['Under weight','Normal weight','Over weight','Obesity'])
train.insert(6,'BMI',category)

In [119]:
train.head(50)

,id,gender,age,hypertension,heart_disease,ever_married,BMI,Age Group,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67,No,Yes,Yes,Obesity,60-79,Private,Urban,228.69,36.6,formerly smoked,Yes
1,51676,Female,61,No,No,Yes,NaN,60-79,Self-employed,Rural,202.21,NaN,never smoked,Yes
2,31112,Male,80,No,Yes,Yes,Obesity,80+,Private,Rural,105.92,32.5,never smoked,Yes
3,60182,Female,49,No,No,Yes,Obesity,40-59,Private,Urban,171.23,34.4,smokes,Yes
4,1665,Female,79,Yes,No,Yes,Normal weight,60-79,Self-employed,Rural,174.12,24.0,never smoked,Yes
5,56669,Male,81,No,No,Yes,Over weight,80+,Private,Urban,186.21,29.0,formerly smoked,Yes
6,53882,Male,74,Yes,Yes,Yes,Over weight,60-79,Private,Rural,70.09,27.4,never smoked,Yes
7,10434,Female,69,No,No,No,Normal weight,60-79,Private,Urban,94.39,22.8,never smoked,Yes
8,27419,Female,59,No,No,Yes,NaN,40-59,Private,Rural,76.15,NaN,Unknown,Yes
9,60491,Female,78,No,No,Yes,Normal weight,60-79,Private,Urban,58.57,24.2,Unknown,Yes
10,12109,Female,81,Yes,No,Yes,Over weight,80+,Private,Rural,80.43,29.7,never smoked,Yes
11,12095,Female,61,No,Yes,Yes,Obesity,60-79,Govt_job,Rural,120.46,36.8,smokes,Yes
12,12175,Female,54,No,No,Yes,Over weight,40-59,Private,Urban,104.51,27.3,smokes,Yes
13,8213,Male,78,No,Yes,Yes,NaN,60-79,Private,Urban,219.84,NaN,Unknown,Yes
14,5317,Female,79,No,Yes,Yes,Over weight,60-79,Private,Urban,214.09,28.2,never smoked,Yes
15,58202,Female,50,Yes,No,Yes,Obesity,40-59,Self-employed,Rural,167.41,30.9,never smoked,Yes
16,56112,Male,64,No,Yes,Yes,Obesity,60-79,Private,Urban,191.61,37.5,smokes,Yes
17,34120,Male,75,Yes,No,Yes,Over weight,60-79,Private,Urban,221.29,25.8,smokes,Yes
18,27458,Female,60,No,No,No,Obesity,60-79,Private,Urban,89.22,37.8,never smoked,Yes
19,25226,Male,57,No,Yes,No,NaN,40-59,Govt_job,Urban,217.08,NaN,Unknown,Yes
20,70630,Female,71,No,No,Yes,Normal weight,60-79,Govt_job,Rural,193.94,22.4,smokes,Yes
21,13861,Female,52,Yes,No,Yes,Obesity,40-59,Self-employed,Urban,233.29,48.9,never smoked,Yes
22,68794,Female,79,No,No,Yes,Over weight,60-79,Self-employed,Urban,228.70,26.6,never smoked,Yes
23,64778,Male,82,No,Yes,Yes,Obesity,80+,Private,Rural,208.30,32.5,Unknown,Yes
24,4219,Male,71,No,No,Yes,Over weight,60-79,Private,Urban,102.87,27.2,formerly smoked,Yes
25,70822,Male,80,No,No,Yes,Normal weight,80+,Self-employed,Rural,104.12,23.5,never smoked,Yes
26,38047,Female,65,No,No,Yes,Over weight,60-79,Private,Rural,100.98,28.2,formerly smoked,Yes
27,61843,Male,58,No,No,Yes,NaN,40-59,Private,Rural,189.84,NaN,Unknown,Yes
28,54827,Male,69,No,Yes,Yes,Over weight,60-79,Self-employed,Urban,195.23,28.3,smokes,Yes
29,69160,Male,59,No,No,Yes,NaN,40-59,Private,Rural,211.78,NaN,formerly smoked,Yes
30,43717,Male,57,Yes,No,Yes,Obesity,40-59,Private,Urban,212.08,44.2,smokes,Yes
31,33879,Male,42,No,No,Yes,Over weight,40-59,Private,Rural,83.41,25.4,Unknown,Yes
32,39373,Female,82,Yes,No,Yes,Normal weight,80+,Self-employed,Urban,196.92,22.2,never smoked,Yes
33,54401,Male,80,No,Yes,Yes,Obesity,80+,Self-employed,Urban,252.72,30.5,formerly smoked,Yes
34,14248,Male,48,No,No,No,Over weight,40-59,Govt_job,Urban,84.20,29.7,never smoked,Yes
35,712,Female,82,Yes,Yes,No,Over weight,80+,Private,Rural,84.03,26.5,formerly smoked,Yes
36,47269,Male,74,No,No,Yes,Obesity,60-79,Private,Rural,219.72,33.7,formerly smoked,Yes
37,24977,Female,72,Yes,No,Yes,Normal weight,60-79,Private,Rural,74.63,23.1,formerly smoked,Yes
38,47306,Male,58,No,No,No,Obesity,40-59,Private,Rural,92.62,32.0,Unknown,Yes
39,62602,Female,49,No,No,Yes,Over weight,40-59,Private,Urban,60.91,29.9,never smoked,Yes
40,4651,Male,78,No,No,Yes,Normal weight,60-79,Private,Rural,78.03,23.9,formerly smoked,Yes
41,1261,Male,54,No,No,Yes,Over weight,40-59,Private,Urban,71.22,28.5,never smoked,Yes
42,61960,Male,82,No,Yes,Yes,Over weight,80+,Private,Urban,144.90,26.4,smokes,Yes
43,1845,Female,63,No,No,Yes,NaN,60-79,Private,Urban,90.90,NaN,formerly smoked,Yes
44,7937,Male,60,Yes,No,Yes,Normal weight,60-79,Govt_job,Urban,213.03,20.2,smokes,Yes
45,19824,Male,76,Yes,No,Yes,Obesity,60-79,Private,Rural,243.58,33.6,never smoked,Yes
46,37937,Female,75,No,Yes,No,NaN,60-79,Self-employed,Urban,109.78,NaN,Unknown,Yes
47,47472,Female,58,No,No,Yes,Obesity,40-59,Private,Urban,107.26,38.6,formerly smoked,Yes
48,35626,Male,81,No,No,Yes,Obesity,80+,Self-employed,Urban,99.33,33.7,never smoked,Yes
49,36338,Female,39,Yes,No,Yes,Obesity,20-39,Private,Rural,58.09,39.2,smokes,Yes

In [117]:
train['bmi'].max()

97.6

In [124]:
train.head()

,id,gender,hypertension,heart_disease,ever_married,BMI,Age Group,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,9046,Male,No,Yes,Yes,Obesity,60-79,Private,Urban,228.69,formerly smoked,Yes
1,51676,Female,No,No,Yes,NaN,60-79,Self-employed,Rural,202.21,never smoked,Yes
2,31112,Male,No,Yes,Yes,Obesity,80+,Private,Rural,105.92,never smoked,Yes
3,60182,Female,No,No,Yes,Obesity,40-59,Private,Urban,171.23,smokes,Yes
4,1665,Female,Yes,No,Yes,Normal weight,60-79,Self-employed,Rural,174.12,never smoked,Yes

In [123]:
del train['bmi']

In [128]:
pip install xlwt

Collecting xlwt
  Downloading xlwt-1.3.0-py2.py3-none-any.whl (99 kB)
Installing collected packages: xlwt
Successfully installed xlwt-1.3.0
Note: you may need to restart the kernel to use updated packages.

In [129]:
writer = pd.ExcelWriter('../test/healthcare-dataset-stroke-data.xls')

In [130]:
train.to_excel(writer)

In [131]:
writer.save()

In [132]:
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.