In [94]:
from datetime import date, timedelta
import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style = 'whitegrid', color_codes = True)
%matplotlib inline

In [95]:
#pip install xlrd

In [96]:
train =pd.read_excel("../test/healthcare-dataset-stroke-data.xls")

In [97]:
train.head(20)

,Unnamed: 0,Gender,Age Group,BMI,Ever_married,Work_type,Residence_type,Heart_disease,Hypertension,avg_glucose_level,Smoking_status,Stroke
0,0,Male,60-79,Obesity,Yes,Private,Urban,Yes,No,228.69,formerly smoked,Yes
1,1,Female,60-79,NaN,Yes,Self-employed,Rural,No,No,202.21,never smoked,Yes
2,2,Male,80+,Obesity,Yes,Private,Rural,Yes,No,105.92,never smoked,Yes
3,3,Female,40-59,Obesity,Yes,Private,Urban,No,No,171.23,smokes,Yes
4,4,Female,60-79,Normal weight,Yes,Self-employed,Rural,No,Yes,174.12,never smoked,Yes
5,5,Male,80+,Over weight,Yes,Private,Urban,No,No,186.21,formerly smoked,Yes
6,6,Male,60-79,Over weight,Yes,Private,Rural,Yes,Yes,70.09,never smoked,Yes
7,7,Female,60-79,Normal weight,No,Private,Urban,No,No,94.39,never smoked,Yes
8,8,Female,40-59,NaN,Yes,Private,Rural,No,No,76.15,Prefer Not to Answer,Yes
9,9,Female,60-79,Normal weight,Yes,Private,Urban,No,No,58.57,Prefer Not to Answer,Yes
10,10,Female,80+,Over weight,Yes,Private,Rural,No,Yes,80.43,never smoked,Yes
11,11,Female,60-79,Obesity,Yes,Govt_job,Rural,Yes,No,120.46,smokes,Yes
12,12,Female,40-59,Over weight,Yes,Private,Urban,No,No,104.51,smokes,Yes
13,13,Male,60-79,NaN,Yes,Private,Urban,Yes,No,219.84,Prefer Not to Answer,Yes
14,14,Female,60-79,Over weight,Yes,Private,Urban,Yes,No,214.09,never smoked,Yes
15,15,Female,40-59,Obesity,Yes,Self-employed,Rural,No,Yes,167.41,never smoked,Yes
16,16,Male,60-79,Obesity,Yes,Private,Urban,Yes,No,191.61,smokes,Yes
17,17,Male,60-79,Over weight,Yes,Private,Urban,No,Yes,221.29,smokes,Yes
18,18,Female,60-79,Obesity,No,Private,Urban,No,No,89.22,never smoked,Yes
19,19,Male,40-59,NaN,No,Govt_job,Urban,Yes,No,217.08,Prefer Not to Answer,Yes

In [98]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
Unnamed: 0           5110 non-null int64
Gender               5110 non-null object
Age Group            5110 non-null object
BMI                  4909 non-null object
Ever_married         5110 non-null object
Work_type            5110 non-null object
Residence_type       5110 non-null object
Heart_disease        5110 non-null object
Hypertension         5110 non-null object
avg_glucose_level    5110 non-null float64
Smoking_status       5110 non-null object
Stroke               5110 non-null object
dtypes: float64(1), int64(1), object(10)
memory usage: 479.2+ KB

In [99]:
train.shape

(5110, 12)

In [100]:
train.isnull().sum()

Unnamed: 0             0
Gender                 0
Age Group              0
BMI                  201
Ever_married           0
Work_type              0
Residence_type         0
Heart_disease          0
Hypertension           0
avg_glucose_level      0
Smoking_status         0
Stroke                 0
dtype: int64

In [101]:
#train['smoking_status'].value_counts(normalize=True, dropna=False)

In [102]:
train.head()

,Unnamed: 0,Gender,Age Group,BMI,Ever_married,Work_type,Residence_type,Heart_disease,Hypertension,avg_glucose_level,Smoking_status,Stroke
0,0,Male,60-79,Obesity,Yes,Private,Urban,Yes,No,228.69,formerly smoked,Yes
1,1,Female,60-79,NaN,Yes,Self-employed,Rural,No,No,202.21,never smoked,Yes
2,2,Male,80+,Obesity,Yes,Private,Rural,Yes,No,105.92,never smoked,Yes
3,3,Female,40-59,Obesity,Yes,Private,Urban,No,No,171.23,smokes,Yes
4,4,Female,60-79,Normal weight,Yes,Self-employed,Rural,No,Yes,174.12,never smoked,Yes

In [103]:
#train['stroke'] = train['stroke'].map(
                  # {1:'Yes' ,0:'No'})
#train['hypertension'] = train['hypertension'].map(
                   #{1:'Yes' ,0:'No'})
#train['heart_disease'] = train['heart_disease'].map(
                   #{1:'Yes' ,0:'No'})

In [104]:
train.head()

,Unnamed: 0,Gender,Age Group,BMI,Ever_married,Work_type,Residence_type,Heart_disease,Hypertension,avg_glucose_level,Smoking_status,Stroke
0,0,Male,60-79,Obesity,Yes,Private,Urban,Yes,No,228.69,formerly smoked,Yes
1,1,Female,60-79,NaN,Yes,Self-employed,Rural,No,No,202.21,never smoked,Yes
2,2,Male,80+,Obesity,Yes,Private,Rural,Yes,No,105.92,never smoked,Yes
3,3,Female,40-59,Obesity,Yes,Private,Urban,No,No,171.23,smokes,Yes
4,4,Female,60-79,Normal weight,Yes,Self-employed,Rural,No,Yes,174.12,never smoked,Yes

In [105]:
#train.groupby('age', as_index=False)['bmi'].mean()

In [106]:
#train['age'] = train['age'].apply(lambda x : round(x))

In [107]:
#category = pd.cut(train.age,bins=[0,20,39,59,79,99],labels=['<20','20-39','40-59','60-79','80+'])
#train.insert(6,'Age Group',category)

In [108]:
#category = pd.cut(train.bmi,bins=[0,18.5,24.9,29.9,97.6],labels=['Under weight','Normal weight','Over weight','Obesity'])
#train.insert(6,'BMI',category)

In [109]:
#train['bmi'].max()

In [110]:
train = train.dropna()
print(train)

      Unnamed: 0  Gender Age Group            BMI Ever_married      Work_type  \
0              0    Male     60-79        Obesity          Yes        Private
2              2    Male       80+        Obesity          Yes        Private
3              3  Female     40-59        Obesity          Yes        Private
4              4  Female     60-79  Normal weight          Yes  Self-employed
5              5    Male       80+    Over weight          Yes        Private
...          ...     ...       ...            ...          ...            ...
5104        5104  Female       <20  Normal weight           No       Studying
5106        5106  Female       80+        Obesity          Yes  Self-employed
5107        5107  Female     20-39        Obesity          Yes  Self-employed
5108        5108    Male     40-59    Over weight          Yes        Private
5109        5109  Female     40-59    Over weight          Yes       Govt_job

     Residence_type Heart_disease Hypertension  avg_glucose_level  \
0             Urban           Yes           No             228.69
2             Rural           Yes           No             105.92
3             Urban            No           No             171.23
4             Rural            No          Yes             174.12
5             Urban            No           No             186.21
...             ...           ...          ...                ...
5104          Rural            No           No             103.08
5106          Urban            No           No             125.20
5107          Rural            No           No              82.99
5108          Rural            No           No             166.29
5109          Urban            No           No              85.28

            Smoking_status Stroke
0          formerly smoked    Yes
2             never smoked    Yes
3                   smokes    Yes
4             never smoked    Yes
5          formerly smoked    Yes
...                    ...    ...
5104  Prefer Not to Answer     No
5106          never smoked     No
5107          never smoked     No
5108       formerly smoked     No
5109  Prefer Not to Answer     No

[4909 rows x 12 columns]

In [111]:
train.head()

,Unnamed: 0,Gender,Age Group,BMI,Ever_married,Work_type,Residence_type,Heart_disease,Hypertension,avg_glucose_level,Smoking_status,Stroke
0,0,Male,60-79,Obesity,Yes,Private,Urban,Yes,No,228.69,formerly smoked,Yes
2,2,Male,80+,Obesity,Yes,Private,Rural,Yes,No,105.92,never smoked,Yes
3,3,Female,40-59,Obesity,Yes,Private,Urban,No,No,171.23,smokes,Yes
4,4,Female,60-79,Normal weight,Yes,Self-employed,Rural,No,Yes,174.12,never smoked,Yes
5,5,Male,80+,Over weight,Yes,Private,Urban,No,No,186.21,formerly smoked,Yes

In [112]:
#pip install xlwt

In [113]:
writer = pd.ExcelWriter('../test/healthcare-dataset-stroke-data.xls')

In [114]:
train.to_excel(writer)

In [115]:
writer.save()

In [116]:
print('DataFrame is written successfully to Excel File.')

DataFrame is written successfully to Excel File.