In [4]:
from datetime import date, timedelta
import numpy as np
import pandas as pd


import seaborn as sns
import matplotlib.pyplot as plt
sns.set(style = 'whitegrid', color_codes = True)
%matplotlib inline

In [5]:
#pip install xlrd

In [6]:
train =pd.read_excel("../test/Data.xls")

In [7]:
train.head(20)

,id,gender,hypertension,heart_disease,Age Group,ever_married,BMI,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,9046,Male,No,Yes,60-79,Yes,Obesity,Private,Urban,228.69,formerly smoked,Yes
1,51676,Female,No,No,60-79,Yes,NaN,Self-employed,Rural,202.21,never smoked,Yes
2,31112,Male,No,Yes,80+,Yes,Obesity,Private,Rural,105.92,never smoked,Yes
3,60182,Female,No,No,40-59,Yes,Obesity,Private,Urban,171.23,smokes,Yes
4,1665,Female,Yes,No,60-79,Yes,Normal weight,Self-employed,Rural,174.12,never smoked,Yes
5,56669,Male,No,No,80+,Yes,Over weight,Private,Urban,186.21,formerly smoked,Yes
6,53882,Male,Yes,Yes,60-79,Yes,Over weight,Private,Rural,70.09,never smoked,Yes
7,10434,Female,No,No,60-79,No,Normal weight,Private,Urban,94.39,never smoked,Yes
8,27419,Female,No,No,40-59,Yes,NaN,Private,Rural,76.15,Unknown,Yes
9,60491,Female,No,No,60-79,Yes,Normal weight,Private,Urban,58.57,Unknown,Yes
10,12109,Female,Yes,No,80+,Yes,Over weight,Private,Rural,80.43,never smoked,Yes
11,12095,Female,No,Yes,60-79,Yes,Obesity,Govt_job,Rural,120.46,smokes,Yes
12,12175,Female,No,No,40-59,Yes,Over weight,Private,Urban,104.51,smokes,Yes
13,8213,Male,No,Yes,60-79,Yes,NaN,Private,Urban,219.84,Unknown,Yes
14,5317,Female,No,Yes,60-79,Yes,Over weight,Private,Urban,214.09,never smoked,Yes
15,58202,Female,Yes,No,40-59,Yes,Obesity,Self-employed,Rural,167.41,never smoked,Yes
16,56112,Male,No,Yes,60-79,Yes,Obesity,Private,Urban,191.61,smokes,Yes
17,34120,Male,Yes,No,60-79,Yes,Over weight,Private,Urban,221.29,smokes,Yes
18,27458,Female,No,No,60-79,No,Obesity,Private,Urban,89.22,never smoked,Yes
19,25226,Male,No,Yes,40-59,No,NaN,Govt_job,Urban,217.08,Unknown,Yes

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
id                   5110 non-null int64
gender               5110 non-null object
hypertension         5110 non-null object
heart_disease        5110 non-null object
Age Group            5090 non-null object
ever_married         5110 non-null object
BMI                  4909 non-null object
work_type            5110 non-null object
Residence_type       5110 non-null object
avg_glucose_level    5110 non-null float64
smoking_status       5110 non-null object
stroke               5110 non-null object
dtypes: float64(1), int64(1), object(10)
memory usage: 479.2+ KB

In [9]:
train.shape

(5110, 12)

In [10]:
train.isnull().sum()

id                     0
gender                 0
hypertension           0
heart_disease          0
Age Group             20
ever_married           0
BMI                  201
work_type              0
Residence_type         0
avg_glucose_level      0
smoking_status         0
stroke                 0
dtype: int64

In [11]:
train['stroke'].value_counts(normalize=True, dropna=False)

No     0.951272
Yes    0.048728
Name: stroke, dtype: float64

In [12]:
train.head()

,id,gender,hypertension,heart_disease,Age Group,ever_married,BMI,work_type,Residence_type,avg_glucose_level,smoking_status,stroke
0,9046,Male,No,Yes,60-79,Yes,Obesity,Private,Urban,228.69,formerly smoked,Yes
1,51676,Female,No,No,60-79,Yes,NaN,Self-employed,Rural,202.21,never smoked,Yes
2,31112,Male,No,Yes,80+,Yes,Obesity,Private,Rural,105.92,never smoked,Yes
3,60182,Female,No,No,40-59,Yes,Obesity,Private,Urban,171.23,smokes,Yes
4,1665,Female,Yes,No,60-79,Yes,Normal weight,Self-employed,Rural,174.12,never smoked,Yes

In [ ]:
train['stroke'] = train['stroke'].map(
                   {1:'Yes' ,0:'No'})
train['hypertension'] = train['hypertension'].map(
                   {1:'Yes' ,0:'No'})
train['heart_disease'] = train['heart_disease'].map(
                   {1:'Yes' ,0:'No'})

In [ ]:
train.head()

In [ ]:
train.groupby('age', as_index=False)['bmi'].mean()

In [ ]:
train['age'] = train['age'].apply(lambda x : round(x))

In [ ]:
category = pd.cut(train.age,bins=[0,20,39,59,79,99],labels=['<20','20-39','40-59','60-79','80+'])
train.insert(6,'Age Group',category)

In [ ]:
category = pd.cut(train.bmi,bins=[0,18.5,24.9,29.9,97.6],labels=['Under weight','Normal weight','Over weight','Obesity'])
train.insert(6,'BMI',category)

In [ ]:
train.head(50)

In [ ]:
train['bmi'].max()

In [ ]:
train.head()

In [ ]:
#pip install xlwt

In [ ]:
writer = pd.ExcelWriter('../test/Data.xls')

In [ ]:
train.to_excel(writer)

In [ ]:
writer.save()

In [ ]:
print('DataFrame is written successfully to Excel File.')