In [1]:
import pathlib

import pandas as pd

In [2]:
MAIN_PATH = pathlib.Path('/Users/palermopenano/personal/sm-202011/project_2')

df = pd.read_csv(MAIN_PATH / 'data/train.csv')

/Users/palermopenano/miniconda3/envs/sm/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN

In [4]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125497040 entries, 0 to 125497039
Data columns (total 6 columns):
id             int64
date           object
store_nbr      int64
item_nbr       int64
unit_sales     float64
onpromotion    object
dtypes: float64(1), int64(3), object(2)
memory usage: 5.6+ GB

In [5]:
df.describe()

                 id     store_nbr      item_nbr    unit_sales
count  1.254970e+08  1.254970e+08  1.254970e+08  1.254970e+08
mean   6.274852e+07  2.746458e+01  9.727692e+05  8.554865e+00
std    3.622788e+07  1.633051e+01  5.205336e+05  2.360515e+01
min    0.000000e+00  1.000000e+00  9.699500e+04 -1.537200e+04
25%    3.137426e+07  1.200000e+01  5.223830e+05  2.000000e+00
50%    6.274852e+07  2.800000e+01  9.595000e+05  4.000000e+00
75%    9.412278e+07  4.300000e+01  1.354380e+06  9.000000e+00
max    1.254970e+08  5.400000e+01  2.127114e+06  8.944000e+04

In [6]:
df.shape

(125497040, 6)

In [7]:
df.head()

   id        date  store_nbr  item_nbr  unit_sales onpromotion
0   0  2013-01-01         25    103665         7.0         NaN
1   1  2013-01-01         25    105574         1.0         NaN
2   2  2013-01-01         25    105575         2.0         NaN
3   3  2013-01-01         25    108079         1.0         NaN
4   4  2013-01-01         25    108701         1.0         NaN

In [8]:
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [9]:
df.date

0           2013-01-01
1           2013-01-01
2           2013-01-01
3           2013-01-01
4           2013-01-01
               ...
125497035   2017-08-15
125497036   2017-08-15
125497037   2017-08-15
125497038   2017-08-15
125497039   2017-08-15
Name: date, Length: 125497040, dtype: datetime64[ns]

In [10]:
df.date.max(), df.date.min()

(Timestamp('2017-08-15 00:00:00'), Timestamp('2013-01-01 00:00:00'))

In [12]:
df.groupby('date')['store_nbr'].count()

date
2013-01-01       578
2013-01-02     41676
2013-01-03     40100
2013-01-04     40048
2013-01-05     42534
               ...
2017-08-11    104599
2017-08-12    105192
2017-08-13    106104
2017-08-14    102750
2017-08-15    102812
Name: store_nbr, Length: 1684, dtype: int64

In [ ]:
# Train:       start = date(2017, 6, 14), end = date()
# Validation:  start = date(2017, 7, 26), end = date(2017, 8, 15)

In [13]:
test = pd.read_csv(MAIN_PATH / 'data/test.csv')

In [15]:
test['date'] = pd.to_datetime(test['date'], format='%Y-%m-%d')

In [16]:
test.date.max(), test.date.min()

(Timestamp('2017-08-31 00:00:00'), Timestamp('2017-08-16 00:00:00'))